body {
     counter-reset: chapter;
}

h1:before {
     content: counter(chapter, decimal) ". ";
     counter-increment: chapter;
}

h1 { 
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    counter-reset: subchapter;
}

h2:before {
     content: counter(subchapter, upper-alpha) ". ";
     counter-increment: subchapter;
}

h2 { 
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    counter-reset: section;
}

h3:before {
     content: counter(section, upper-roman) ". ";
     counter-increment: section;
}

h3 { 
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    counter-reset: subsection;
}

h4:before {
     content: counter(subsection, lower-alpha) ". ";
     counter-increment: subsection;
}

h4 { 
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h5 { 
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

h6 { 
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    text-decoration: underline;
}

