/* 
* toppage.css
*
*   Style specific to ordinary content pages.
*
* { border: 1px solid red; }
*/

div.news-link i {
    font-size: smaller;
}

blockquote p {
  padding: 0px;
  margin: 0.2em;
}

div.date {
  float: right;
  font-size: larger;
  font-style: italic;
}

h2 {
  clear:left;
  padding-top: 0.5em;
}

h2:before {
   content: url("/en/icon/redspot.png")
}

a.icon img {
    margin: 0 0 -4px 0;
    float: none;
}

div.page-title {
    display: none;
}

div.dean {
    margin-top:2em;
    text-align:left;
    margin-bottom: 2em;
}

div.dean span {
    background:#800000;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 1em;
    border-top: 1px solid #800000;
}

div.dean a {
    color:#ffffff;
    font-family: Lato,sans;
    font-weight: 900;
    /* border-left: 1px solid #a0a0a0; */
    /* border-right: 1px solid #a0a0a0; */
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-top: none;
    border-bottom: none;
}

div.dean a:hover {
    background: url('/en/image/2_menuh_b_bg_on.gif') repeat scroll 0% 0% rgb(0,0,0);
}

div.dean a:active {
    background: url('/en/image/2_menuh_b_bg_cr.gif') repeat scroll 0% 0% rgb(79,79,79);
}
