ul.sidenote {
    width: auto;
}

a.course-ical-button {
    display: block;
    border-radius: 0.5em 0.5em 0 0;
    text-align: center;
    cursor: pointer; 
    font-size: smaller;
    border-bottom: 1px solid #800000 !important;
    border-left: 1px solid #800000;
    border-right: 1px solid #800000;
    color: #000000;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    background: white;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

div.course-ical-heading {
    font-family: Lato,sans;
    font-weight: 900;
    background: #800000;
    color: #ffffff;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0 0.25em;
}

div.course-ical-number {
    font-family: Lato,sans;
    font-size: larger;
    padding:0.3em 0 0.25em 0;
}

a.calendar-link {
    display: block;
    border-radius: 10px 10px 0 0;
    margin-top: 0.5em;
    float: right;
    text-align: center;
    font-family: Lato,sans;
    font-weight: 900;
    cursor: pointer; 
    font-size: 70%;
    border-bottom: 1px solid #800000 !important;
    border-left: 1px solid #800000;
    border-right: 1px solid #800000;
    color: #000000;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    width: 6em;
}

a.calendar-link div.month {
   background: #800000;
   border-radius: 10px 10px 0 0;
   padding: 0.25em 0.5em 0.25em 0.5em;
   color: #ffffff;
}

a.calendar-link div.day {
    font-size: 200%;
}

